.top{
  background-color : #def4f0;
  padding: 100px;
  margin : 0px;
}

h1{
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0px auto;
  font-size: 5.625rem;
  color: #66BFBF;

}

.intro{
width: 30%;
margin: auto;
line-height: 2;
}

h2{
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #66BFBF;
font-weight: normal;
padding-bottom: 10px;
}

hr{
  border: dotted #aacdbe 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

 body{
   color: #40514E
   margin: 0px;
   text-align: center;
   font-family: 'Merriweather', serif;
 }

h3{
  color: #66BFBF;
}
 a{
   color: #11999e;
   font-family: 'Montserrat', sans-serif;
   margin: 10px 20px;
   text-decoration: none;
 }

.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
a:hover{
  color: #eaf6f6;
}
 .contact-message{
width: 40%;
line-height: 2;
margin: 40px auto 60px;
 }

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.web-image{
width: 25%;
float: left;
margin-right: 30px;
}

.full-image{
  width: 25%;
  float:right;
  margin-left: 30px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 260px;
  top: 300;
}
.middle-container{
  margin: 100px auto 100px auto;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0px 20px;
}
.btn {
   background: #BFD6F1;
   background-image: -webkit-linear-gradient(top, #BFD6F1, #A6F9E2);
   background-image: -moz-linear-gradient(top, #BFD6F1, #A6F9E2);
   background-image: -ms-linear-gradient(top, #BFD6F1, #A6F9E2);
   background-image: -o-linear-gradient(top, #BFD6F1, #A6F9E2);
   background-image: linear-gradient(to bottom, #BFD6F1, #A6F9E2);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 32px;
   font-weight: 200;
   padding: 30px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #A1BFF1;
   background-image: -webkit-linear-gradient(top, #A1BFF1, #6DFDCE);
   background-image: -moz-linear-gradient(top, #A1BFF1, #6DFDCE);
   background-image: -ms-linear-gradient(top, #A1BFF1, #6DFDCE);
   background-image: -o-linear-gradient(top, #A1BFF1, #6DFDCE);
   background-image: linear-gradient(to bottom, #A1BFF1, #6DFDCE);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
